.social
  display: flex
  justify-content: center
  align-items: center
  flex-wrap: wrap
  gap: 20px

.social_link
  display: flex
  justify-content: center
  align-items: center
  width: 45px
  min-width: 45px
  height: 45px

  svg
    display: block
    max-width: 45px
    max-height: 45px
    fill: $white

  &:hover,
  &:active,
  &:focus
    opacity: 0.8

.social_link-telegram
  background: linear-gradient(250.2deg, #41B4E6 0%, #309FCF 100%)

.social_link-phone
  background: linear-gradient(191.86deg, #58CE68 0%, #359E43 100%)
  border-radius: 5px

  svg
    width: 28px
    height: 28px

.social_link-github
  border-radius: 0

  svg
    max-width: 45px
    max-height: 45px
